#pokemoncard{
    background-color: rgb(7, 201, 201);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    
}

/* .container-pokemoncard{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
} */