#pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .pokedex-name{
    margin: 100px auto;
} */
.container-pokedex{
    max-width: 1500px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding-top: 100px;
    
}

/* body{
    background-color: black;
} */