
#pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .pokedex-name{
    margin: 100px auto;
} */
.container-pokedex{
    max-width: 1300px;
    background-color: transparent; /*Fondo del contenedor de Cards*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding-top: 280px; /*Espaciado de Carta Columna*/
    
}

.video-header{
    position: relative;
    max-width: 1300px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.container-welcome-trainer{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome-trainer{
    width: 80%;
    position: relative;
    bottom: -51%;
    z-index: 2;
   
}

.pokedex-name{
    
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'pokemonhollow';
    color: #f4f1da;
    top: 18px; /*Firs mobile - minwidth*/
    z-index: 2;
 
}

main{
    background-color: transparent; /*Fondo Principal antes del Container Pokedex*/
    position: relative;
}

.container-searchPokemon{
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    top: 160px;
    gap: 2rem;
    background-color: transparent; /*Fondo Container SearchPokemon - Segunda Division*/
    /* padding: auto 0; */
    z-index: 2;
  
    
}

.container-searchPokemon input{
    width: 300px;
    height: 30px;
    padding-left: 0.5rem;
}

.container-searchPokemon button{
    width: 100px;
    height: 30px;
}

.container-searchPokemon select{
    width: 250px;
    height: 30px;
}

.container-Pagination{
    padding: 100px 0px;
}


.container-Pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-Pagination button{
    width: 100px;
    height: 30px;
}

.container-Pagination .btn-pagination-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.container-Pagination .btn-pagination-circle2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(
    to bottom,
    rgba(148, 50, 240, 0.9),
    rgba(255, 255, 255, 0.9),
    rgba(148, 50, 240, 0.9)
  ), url("#");
  cursor: pointer;
  border: 2px solid;
  border: 3px solid;
  border-color: rgb(236, 183, 9);
  font-weight: bold;
  font-size: 20px;
}

.container-list-btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

/* ---------- EMPIEZA LAS MEDIA QUERY ---------- */


/*---------- MEDIA QUERY MAX ----------*/

  
  @media (max-width: 300px){

    .pokedex-name{
        font-size: 1.2rem;
        transition: 2s;
      }

  }

  @media (max-width: 480px){

    .container-searchPokemon{
      
        flex-direction: column;
        width: 100%;
        padding-bottom: 50px;
    }

    .container-searchPokemon input{
        width: 250px;
        height: 30px;
    }
    
    .container-searchPokemon button{
        width: 80px;
        height: 30px;
    }
    
    .container-searchPokemon select{
        width: 200px;
    }


  }

 
    @media (max-width: 720px){

    .container-searchPokemon{
      
        flex-direction: column;
        align-items: center;
        top: 100px;

    }

    .container-Pagination{
        padding: 100px 0px;
        display: flex;
        flex-direction: column;
    }

  .container-list-btn{
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  
}

/*---------- MEDIA QUERY MIN ----------*/

@media(min-width: 300px){
    .pokedex-name{
  font-size: 1.2rem;
  transition: 2s;
  top: 30px;
}
}

@media(min-width: 500px){
    .pokedex-name{
  font-size: 1.7rem;
  top : 50px;
}

}

@media(min-width: 750px){
    .pokedex-name{
  font-size: 2.5rem;
  top: 75px;
}

}

@media(min-width: 1200px){
    .pokedex-name{
  font-size: 3rem;
  top: 90px;
}

}

/* ---------- TERMINA LAS MEDIA QUERY ---------- */

